<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{% static "css/dashboard.css" %}">
    <title>Dashboard</title>
</head>
<body>

<form action="/" method="post">
{% csrf_token %}
<div id='logout-button' align="right">
<button type="submit" class="btn btn-info btn-lg">Logout</button>
</div>
</form>


    <br>

<div class="row">
	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="total-orders">
			  	<div class="card-header">
			  		<h5 class="card-title">Last Login</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{last_login}}</h3>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="orders-delivered">
			  	<div class="card-header">
			  		<h5 class="card-title">Login Counts</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{login_counts}}</h3>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="orders-pending">
			  	<div class="card-header">
			  		<h5 class="card-title">Account Creation</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{user_created}}</h3>
			  	</div>
			</div>
		</div>
	</div>
</div>
    
</body>
</html>