#logo{
}

body{
    background-color: #ebeff5;
}


#logout-button{

    margin-right: 15px;
    margin-top: 15px;
    margin-bottom: 10px;


}


#total-orders{
    background-color: #4cb4c7;
}


#orders-delivered{
    background-color: #7abecc;
}

#orders-pending{
    background-color: #7CD1C0;
}