body{
    background-color: #ebeff5;
}

.navbar-brand{
    font-size:40px;
    font-weight: 500;
    color:  #054f5c;
}
.navbar{
    background-color: #ebeff5;
}

.row{
    margin:auto;
    margin-top: 50px;
	
}

#logout-button{
    margin-right: 15px;
}

#total-orders{
    background-color: #4cb4c7;
}


#orders-delivered{
    background-color: #7abecc;
}

#orders-pending{
    background-color: #7CD1C0;
}